header {
  text-align: left;
  background-color: #333;

  img {
    width: 100%;
    padding: 3em 0;
  }
}

.table-section {
  background-color: #f9f9f9;

  .col-md-5 {
    background-color: #fff;
    padding: 2em 3em;
    margin: 1em;

    .tos {
      font-size: 12px;
    }

    .cards-image {
      text-align: left;
      padding: 1em;
    }
  }
}
