body {
  header {
    background: url('../img/section-1-bg.png');
    background-size: cover;
    background-repeat: no-repeat;

    h1, li {
      color: #fff;
      list-style-type: disc;
      padding: 1.25em;
      transition: .5s;
    }

    h3 {
      color: #b60000;
      margin: 1em 0px;
      font-size: 2em;
    }

    ul {
      padding: 5em 4em;
    }

    li {
      font-size: 1.5em;
    }

    input, select {
      margin: 1em 0;
    }

    form {
      font-size: 12px;
    }

    // Form field in header
    .col-md-5 {
      background-color: #fff;
      padding: 4em;
      margin: 6em 0;
      transition: 1s;
      animation-delay: 1.25s;

      .checkbox input[type=checkbox] {
        margin-right: 1em;
        margin-left: 0;
        position: relative;
      }
    }

    // Left side of header, the title and bullets
    .col-md-7 {
      padding: 6em 0;

      li {
        animation-delay: .3s;
        &:first-of-type {
          animation-delay: .15s;
        }
        &:last-of-type {
          animation-delay: .45s;
        }
      }
      img {
        animation-delay: .75s;

        &:first-of-type {
          animation-delay: .01s;
        }
      }
    }
  }

  // After the header / form field section
  .first_section {
    text-align: center;
    margin: 2.5em 0;

    ul, li {
      display: inline-block;
    }

    li {
      &:first-of-type {
        animation-delay: 1s;
      }

      &:nth-child(2) {
        animation-delay: 1.5s;
      }

      &:last-of-type {
        animation-delay: 2s;
      }
    }

    i {
      padding: 1em;
      vertical-align: middle;
      font-size: 6em;
    }

    p {
      font-size: 1.5em;
    }

    &:before {
      content: "";
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      border: 40px solid;
      border-color: #131313 transparent transparent;
    }
  } //.first_section

  // Second section (second CTA) styling
  .second_section {
    background-color: #333;
    color: #fff;

    strong {
      color: #b3b3b3;
      font-size: 1.5em;
    }

    button.btn {
      margin: 2em;
    }

    .col-md-6 {
      img {
        width: 100%;
        margin: 3em 0;
      }

      &:last-of-type {
        text-align: right;
        padding: 5em;
      }
    }

    &:before {
      content: "";
      margin: 0 auto;
      border: 40px solid;
      border-color: #fff transparent transparent;
    }
  } //.second_section
} // body
