body {
  h1 {
    font-family: 'Black Ops One', cursive;
  }

  h3, li, p, strong, input, select, a, button {
    font-family: 'Contrail One', cursive;
  }


  button.btn {
    background-color: #b60000;
    color: #fff;
    padding: 1em 4em;
    font-size: 2em;
    transition: .5s;

    &:hover {
      background-color: #830404;
      transition: .5s;
      color: #fff;
    }
  }

  footer {
    padding: 1em 25em;

    .footer-company-motto,.footer-links, .footer-company-name {
      text-align: center;
    }
  }
} // body
