<div class="text">
<h1><b>How does {{ productName }} work?</b></h1>
</div>
<div id="info">

<p class="body-echo">Your skin is the largest organ on your body but one of the most exposed. As a child, your skin is smooth, healthy and vibrant. But as we age, it can become wrinkled, saggy and discolored. Why?</p>

<p class="body-echo"> Our skin dries and loses its elasticity as it is exposed to a host of factors which attack your skin including age, wind, dryness, sun damage and free radicals.</p>

<p class="body-echo">Each of these factors reduce our skin's ability to keep its elasticity and firmness. Age also leads to the loss and breakdown of collagen in the dermal layer of your skin. Collagen is key to provide structural support to your skin. As our body's produce less, your skin begins to sag and wrinkle.
</p>

<p class="body-echo">Your best defense against these hostile factors may be choosing the right skin care product that can help reduce visible signs of aging. {{ productName }} may just be the solution for you!
</p>
</div>